/* Rubik 700, 500 , 400
    Roboto 500 italic ,
     
  ***  font-family: 'Roboto', sans-serif;
  ***  font-family: 'Rubik', sans-serif;
*/
/* 1. Main css code  */
/* 2. Header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

.main {
    /* flex: 1 1 auto; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.header {
    margin-bottom: 34px;
    background-color: #F6F6F9;    
    border-top: 4px solid #295093;
}

img{
    height: auto;
    max-width: 100%;
 } 

/* End MAIN CSS */

/* HEADER */

.header-top{
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* Website logo */
.website-logo{
    padding: 6px;
    display: flex;
    border-radius: 5px;
    margin-right: 17px;
    align-items: center;
    transition: all .3s ease;

}

.website-logo:hover{
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);
}

/* EXCHANGE RATE */

.exchange-rate{
    display: flex;
}
.exchange-rate-item {
    display: flex;
    color: #7A7A7A;
    list-style: none;
    align-items: center;
}

.exchange-rate-value:not(:last-child) {
    margin-right: 26px;
}

.exchange-rate-value__sign{
    font-size: 16px;
    font-weight: 700;
    color: #285193;
    line-height: 19px;
}


/* header-top__right */
.header-top{
    display: flex;
}

.header-top__right {
    display: flex;
    margin-left: auto;
}

.searche-bar{
    border: none;
    padding: 11px;
    display: flex;
    margin-right: 22px;
    border-radius: 5px;
    align-items: center;
    background-color: #fff;
    transition: all .3s ease;
}

.searche-bar:hover{
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);


}


.site-language {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 11px;
    margin-right: 24px;
    transition: all 0.3s ease;
}

.site-language:hover{
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);

}

.site-language-icon {
    border-radius: 50%;
    margin-right: 5px;
}

.site-language__text {
    color: #535353;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: 'Roboto';
}

.telegram-subschribe {
    border: none;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 19px;
    font-style: normal;
    border-radius: 5px;
    align-items: center;
    font-family: 'Rubik';
    transition: all .3s ease;
    padding: 10px 10px 8px 11px;
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    
}

.telegram-subschribe:hover{
    background-image: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}

.telegram-icon {
    margin-right: 8px;
}


/* NAVBAR */
.sitenav{
    display: flex;
    font-size: 19px;
    flex-wrap: wrap;
    list-style: none;
    font-weight: 500;
    line-height: 23px;
    padding: 26px 25px;
    align-items:center;
    border-radius: 5px;
    margin-bottom: 24px;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);

}
.sitenav .sitenav-item:not(:last-child){
    margin-right: 24px;
}

.sitenav-link{
    font-style: normal;
    text-decoration: none;

    color: #515151;
    font-family: 'Rubik';
    transition: all .3s ease;
}

.sitenav-link:hover{
    color: #295091;
}

/* MEDIA QUERY */

@media (max-width: 1000px){

    .exchange-rate{
        order: -1;
        width: 100%;
        margin-top: 0px;    
        margin-bottom: 15px;
        justify-content: center;
    }   

    .header-top{
        padding-top: 20px;
    }

}

@media (max-width: 850px){

    .exchange-rate{
        font-size: 14px;
        line-height: 17px;    
    }   

    .header-top{
        padding-bottom: 20px;
        justify-content: stretch;
    }

    .sitenav{
        padding: 15px;
        font-size: 16px;
        line-height: 20px;
        
    }

    .sitenav-item{
        margin-top: 3px;
        margin-bottom: 3px;
    }

}

@media (max-width: 750px){

    .site-header__toggler{
        padding:10px;
        border: none;
        border-radius: 10px;
        background-color: #fff;
    }

    .site-header__toggler:hover{
        cursor: pointer;
        transition: all .3s ease;
        box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);
    }

    .exchange-rate{
        display: none   ;    
    }   

    .banner{
        display: none;
    }

    .telegram-subschribe{
        display: none;
    }

    .searche-bar{
        display: none;
    }

    .site-language{
        display: none;
    }
}