/* Rubik 700, 500 , 400
    Roboto 500 italic ,
     
  ***  font-family: 'Roboto', sans-serif;
  ***  font-family: 'Rubik', sans-serif;
*/
/* 1. Main css code  */
/* 2. Header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    border-top: 4px solid rgb(41, 80, 147);

}

.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 80, 147, 0.4);
    margin-top: -4px;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.backdrop.open{
    opacity: 1;
    visibility: visible;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

.main {
    /* flex: 1 1 auto; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.header {
    margin-bottom: 34px;
    background-color: #F6F6F9;    
}

img{
    height: auto;
    max-width: 100%;
 } 

/* End MAIN CSS */

/* HEADER */

.site-header{
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
/* Website logo */
.website-logo{
    padding: 6px;
    display: flex;
    border-radius: 5px;
    margin-right: 17px;
    align-items: center;
    transition: all .3s ease;

}

.website-logo:hover{
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);
}

/* EXCHANGE RATE */

.exchange-rate{
    display: flex;
}
.exchange-rate-item {
    display: flex;
    color: #7A7A7A;
    list-style: none;
    align-items: center;
}

.exchange-rate-value:not(:last-child) {
    margin-right: 26px;
}

.exchange-rate-value__sign{
    font-size: 16px;
    font-weight: 700;
    color: #285193;
    line-height: 19px;
}


/* .site-header__right */

.site-header__right {
    display: flex;
    margin-left: auto;
}

.searche-bar{
    border: none;
    padding: 11px;
    display: flex;
    margin-right: 22px;
    border-radius: 5px;
    align-items: center;
    background-color: #fff;
    transition: all .3s ease;
}

.searche-bar:hover{
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);
    cursor: pointer;
}


.site-language {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 11px;
    margin-right: 24px;
    transition: all 0.3s ease;
}

.site-language:hover{
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);
    cursor: pointer;


}

.site-language-icon {
    border-radius: 50%;
    margin-right: 5px;
}

.site-language__text {
    color: #535353;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: 'Roboto';
}



/* TELEGRAM-SUBCHRIBE */



.telegram-subschribe {
    border: none;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-style: normal;
    border-radius: 5px;
    align-items: center;
    font-family: 'Rubik';
    padding: 10px 10px 8px 11px;
    cursor: pointer;
}

/* HEADER-TELEGRAM-SUB */
.header-telegram__sub{
    color: #FFFFFF;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    transition: all .3s ease;
    position: relative;
    z-index: 10;

}

.header-telegram__sub::before{
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
    transition: all 0.3s ease;
}

.header-telegram__sub:hover::before{
    opacity: 1;
}

.telegram-icon {
    margin-right: 8px;
}


/* NAVBAR */

.sitenav{

    width: 100%;
    padding: 26px 25px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);
    margin-bottom: 24px;

}

.sitenav-list{
    font-size: 19px;
    list-style: none;
    font-weight: 500;
    line-height: 23px;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.sitenav .sitenav-item:not(:last-child){
    margin-right: 24px;
}

.sitenav-link{
    font-style: normal;
    text-decoration: none;

    color: #515151;
    font-family: 'Rubik';
    transition: all .3s ease;
}

.sitenav-link:hover{
    color: #295091;
}

.site-header__toggler{
    display: none;
}

.banner-img {
    margin-bottom: 12px;
}


/* MAIN */

/* COVID-INFO */
.covid-info{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    color: #000;
    margin-bottom: 18px;
    padding: 30px 35px;
    border-radius: 5px;
    font-family: 'Rubik';
    background: #F6F6F9;
}

.covid-info-des {
    display: flex;
}

.covid-info-title {
    width: 232px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 25px;
}





/* FOOTER */

.footer {
    background: #295093;
    display: flex;
    padding: 18px 0;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    font-family: Rubik;

}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-logo{
    padding: 11px 12px 6px 9px;
    border-radius: 5px;
    background-color: #133C82;
    display: inline-block;
    margin-right: auto;
}


.footer-telegram__sub{
    background-color: #fff;
    margin-left: 17px;
    color: #133C82;
}

.telegram-icon__dark {
    margin-right: 8px;
}

.footer-horizontal-line {
    border: none;
    background-color: #133C82;
    height: 3px;
    margin: 18px 0 12px 0;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;

}

.footer-about {
    display: inline-block;
    margin-right: 115px;
}

.footer-bottom-title {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-bottom-text {
    max-width: 365px;
    display: inline-block;
}

.footer-list {
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list-item {
    font-size: 14px;
    margin-bottom: 12px;
    width: 50%;
}

.footer-list__link {
    text-decoration: none;
    color: #fff;    
    display: inline-block;
}


/* MEDIA QUERY */

@media (max-width: 1000px){

    .exchange-rate{
        order: -1;
        width: 100%;
        margin-top: 0px;    
        margin-bottom: 15px;
        justify-content: center;
    }

    .site-logo{
        margin-right: 0;
    }

    .site-header{
        padding-top: 20px;
    }


    .footer-telegram__sub{
        margin-left: auto;
    }


}

/* MEDIA QUERY 850< */

@media (max-width: 850px){

    .exchange-rate{
        font-size: 14px;
        line-height: 17px;    
    }   

    .site-header{
        padding-bottom: 20px;
        justify-content: stretch;
    }

    .sitenav-list{
        padding: 15px;
        font-size: 16px;
        line-height: 20px;
        
    }

    .sitenav-item{
        margin-top: 3px;
        margin-bottom: 3px;
    }

}

/* MEDIA QUERY 750< */

@media (max-width: 750px){

    .wrapper{
        margin-top: 79px;
        border-top: none;
    }

    .site-header{

        padding: 20px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #F6F6F9;
        border-top: 4px solid rgb(41, 80, 147);

    }

    .site-header__toggler{
        display: block; 
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #fff;
        transition: all .3s ease;

    }

    .site-header__toggler:hover{
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(202, 202, 202, 0.25);
    }

    .banner,
    .searche-bar,
    .exchange-rate,
    .site-language,
    .sitenav,
    .header-telegram__sub{
        display: none   ;    
    }   

    .sitenav{
        position: fixed;
        top: 78px;
        right: -100%;
        bottom: 0;
        border-radius: 0;
        width: 65%;
        display: block;
        z-index: 15;
        padding: 0;
        margin: 0;  
        transition: all 0.3s ease;
    }

    .sitenav--open{
        right: 0;
    }

    .sitenav .sitenav-list{
        flex-direction: column;
        align-items: flex-end;
    }

    .sitenav .sitenav-list .sitenav-item{
        margin-right: 0;
    } 

    .footer-logo {
        order: -5;
    }

    .footer-telegram__sub {
        order: -1;
        margin: 0;
    }
    
}